@{
    ViewBag.Title = "About";
}
<h2>Opis</h2>


<p>
    Aplikacija InformacioniSistemBanaka služi da bi banke imale uvid kako u sopstveno poslovanje, tako i u poslovanje drugih banaka, kao i u vlasničku strukturu banaka. Takođe i mogućnost slanja zahteva radi promene svih podataka vezano za banke i njihova poslovanja.
    U slučaju da niste registrovani molim da idete na stranicu za registraciju.
</p>