@{
    ViewBag.Title = "O nama";
}
<h2>O nama</h2>


<address>
    Džoger Tim<br />
    Savski nasip bb<br />
    <abbr title="Phone">Telefon:</abbr>
    +38164111222333
</address>
<strong>Korisnička podrška</strong>   <a href="mailto:DzogerTim@gmail.com">DzogerTim@gmail.com</a><br />
<p>Džoger Tim osnovan je jednog aprila u Beogradu, ničim izazvan tj. izazvan potrebama za projekat tj. završni rad. Skupila se ekipa mala, ali odabrana u sastavu: Marko-Markoni, Branislav-Bane i Nikola-Džoni. U startu su bili osuđeni na propast ali nisu odustajali. Ako ovo čitate znači da su nešto uspeli.</p>
    
