@using IBS2.Models
@{
    ViewBag.Title = "Aktivne banke";
}

<h2>Lista aktivnih banaka</h2>

<table class="table table-condensed table-hover">
<thead>
    <tr>
        <td>Naziv</td>
        <td>Sedište</td>
        

    </tr>

</thead>
@foreach (Banka banka in Admin.ListaAktivnihBanaka())
{

    <tr>

        <td>@banka.Naziv</td>
        <td>@banka.Sediste</td>
        

    </tr>
}
</table>
